################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.bin
*.vsidx
/.vs/WebApplication2/DesignTimeBuild
/.vs/WebApplication2/v17
/bin/Debug/net8.0
